{% extends 'layout.html' %}
{% block content %}
	<h3>The List</h3>
	<hr/>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
	<script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='js/custom.js') }}"></script>
	<!-- create the table before the loop so that there is an mepty hidden table when there are no items in the list.
	This allows the web socket to insert a new row. Otherwise the table doesn't exist. -->
		<table class="table" id="itemsTable" name="itemsTable">
			<thead>
				<tr>
					<th></th>
					<th>Item</th>
					<th>Requestor</th>
					<th>Age</th>
				</tr>
			</thead>
			<tbody>
{% if not my_list %}
		<p id="emptyList" name="emptyList">The list appears to be empty</p>
{% else %}
		{% for i in my_list %}
			<tr>
				<td><input type="checkbox" class="sync" name="{{ i.id }}" id="checkbox{{ i.id }}" value="{{ i.purchased }}"/></td>
				<td>{{ i.list_item }}</td>
				<td>{{ i.creator }}</td>
				<td>{{ i.created_in_words }}</td>
			</tr>
		{% endfor %}
{% endif %}
</tbody>
</table>
</br>
<button type="button" name="btnClearList" id="btnClearList">Clear Checked Items</button>
{% endblock %}
